:root {
  color-scheme: light dark;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --bg: #11151b;
  --text: #ffffff;
  --code-bg: oklch(from var(--bg) calc(l + 0.1) c h);
  /* --border: #e5e4e7; */
  /* --accent: #aa3bff; */
  /* --accent-bg: rgba(170, 59, 255, 0.1); */
  /* --accent-border: rgba(170, 59, 255, 0.5); */

  background: var(--bg);
  color: var(--text);
  font-family: var(--sans);
  font-size: clamp(1.1rem, calc(0.15dvw + 1rem), 1.2rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & * {
    margin: 0;
  }
}

h1 {
  color: oklch(from var(--text) calc(l * 0.95) c h);
  font-size: clamp(1.5rem, calc(1dvw + 1rem), 2rem);
}

h2 {
  color: oklch(from var(--text) calc(l * 0.9) c h);
  font-size: clamp(1.4rem, calc(0.75dvw + 1rem), 1.85rem);
}

h3 {
  color: oklch(from var(--text) calc(l * 0.8) c h);
  font-size: clamp(1.3rem, calc(0.6dvw + 1rem), 1.7rem);
}

h4 {
  color: oklch(from var(--text) calc(l * 0.7) c h);
  font-size: clamp(1.2rem, calc(0.4dvw + 1rem), 1.55rem);
}

h5 {
  color: oklch(from var(--text) calc(l * 0.6) c h);
  font-size: clamp(1.1rem, calc(0.25dvw + 1rem), 1.4rem);
}

h6 {
  color: oklch(from var(--text) calc(l * 0.5) c h);
  font-size: clamp(1.05rem, calc(0.1dvw + 1rem), 1.27rem);
}

p {
  color: oklch(from var(--text) calc(l * 0.85) c h);
}

del {
  color: rgb(218, 69, 69);
}

ins {
  color: rgb(84, 182, 84);
  text-decoration: none;
}

mark {
  padding: 0.15rem 0.25rem;
  background-color: oklch(from var(--bg) calc(l + 0.95) calc(c + 1) calc(h - 61) / 0.27);
  color: oklch(from var(--text) calc(l * 0.95) c h);
}

kbd {
  padding: 0.2rem 0.35rem;
  background-color: oklch(from var(--text) calc(l * 0.85) c h);
  color: var(--bg);
  border-radius: 0.25rem;
  font-size: clamp(0.75rem, calc(0.15dvw + 0.65rem), 1rem);
}

code, pre {
  font-family: var(--mono);
}

code {
  padding: 0.25rem;
  background-color: var(--code-bg);
  border-radius: 0.25rem;
  font-size: clamp(0.85rem, calc(0.15dvw + 0.75rem), 1.1rem);
}

blockquote {  
  margin: 0;
  padding: 1rem;
  border-left: 0.25rem solid var(--code-bg);
  border-radius: 0.25rem;
  color: oklch(from var(--text) calc(l * 0.85) c h);
}

cite {
  color: oklch(from var(--text) calc(l * 0.7) c h);
}
