:root {
  color-scheme: light dark;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --bg: #11151b;
  --text: #ffffff;
  --para-color: oklch(from var(--text) calc(l * 0.9) c h);
  --code-bg: oklch(from var(--bg) calc(l + 0.1) c h);
  --form-el-bg: #b4bdc0;
  --accent: #345183;
  --radius: 0.25rem;
  /* --border: #e5e4e7; */
  /* --accent: #aa3bff; */
  /* --accent-bg: rgba(170, 59, 255, 0.1); */
  /* --accent-border: rgba(170, 59, 255, 0.5); */

  background: var(--bg);
  color: var(--para-color);
  font-family: var(--sans);
  font-size: clamp(1.1rem, calc(0.15dvw + 1rem), 1.2rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

hr {
  margin: 1rem 0;
  border-color: var(--code-bg);
}

h1 {
  color: oklch(from var(--text) calc(l * 0.95) c h);
  font-size: clamp(1.5rem, calc(0.9dvw + 1rem), 2rem);
  margin-bottom: 1rem;
}

h2 {
  color: oklch(from var(--text) calc(l * 0.9) c h);
  font-size: clamp(1.4rem, calc(0.75dvw + 1rem), 1.85rem);
  margin-bottom: 0.9rem;
}

h3 {
  color: oklch(from var(--text) calc(l * 0.8) c h);
  font-size: clamp(1.3rem, calc(0.6dvw + 1rem), 1.7rem);
  margin-bottom: 0.8rem;
}

h4 {
  color: oklch(from var(--text) calc(l * 0.7) c h);
  font-size: clamp(1.2rem, calc(0.4dvw + 1rem), 1.55rem);
  margin-bottom: 0.7rem;
}

h5 {
  color: oklch(from var(--text) calc(l * 0.6) c h);
  font-size: clamp(1.1rem, calc(0.25dvw + 1rem), 1.4rem);
  margin-bottom: 0.6rem;
}

h6 {
  color: oklch(from var(--text) calc(l * 0.5) c h);
  font-size: clamp(1.05rem, calc(0.1dvw + 1rem), 1.27rem);
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

hgroup {
  margin-bottom: 1rem;

  & * {
    margin: 0;
  }

  & :last-child {
    color: oklch(from var(--text) calc(l * 0.5) c h);
  }
}

del {
  color: rgb(218, 69, 69);
}

ins {
  color: rgb(84, 182, 84);
  text-decoration: none;
}

mark {
  padding: 0.15rem 0.25rem;
  background-color: oklch(from var(--bg) calc(l + 0.95) calc(c + 1) calc(h - 61) / 0.27);
  color: oklch(from var(--text) calc(l * 0.95) c h);
}

kbd {
  padding: 0.2rem 0.35rem;
  color: var(--bg);
  background-color: var(--para-color);
  border-radius: var(--radius);
  font-size: clamp(0.75rem, calc(0.15dvw + 0.65rem), 1rem);
}

code, pre {
  font-family: var(--mono);
}

code {
  padding: 0.25rem;
  background-color: var(--code-bg);
  border-radius: var(--radius);
  font-size: clamp(0.85rem, calc(0.15dvw + 0.75rem), 1.1rem);
}

blockquote {  
  margin: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid var(--code-bg);
  border-radius: var(--radius);

  & :last-child {
    margin-top: 0.5rem;
  }
}

cite {
  color: oklch(from var(--text) calc(l * 0.7) c h);
}

li {
  margin-bottom: 0.4rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  --table-border: 2px solid var(--code-bg);
}

thead {
  color: oklch(from var(--text) calc(l * 0.5) c h);
}

tfoot {
  color: oklch(from var(--text) calc(l * 0.75) c h);
}

th {
  text-align: start;
}

th, td {
  padding: 0.5rem;
}

thead tr {
  border-bottom: var(--table-border);
  border-bottom-width: 4px;
}

tbody {
  & tr {
    border-top: var(--table-border);
  }

  & tr:hover {
    background-color: oklch(from var(--code-bg) l c h / 0.15);
  }
}

tfoot tr {
  border-top: var(--table-border);
  border-top-width: 4px;
}

details[open] {
  &::details-content {
    padding: 1rem;
  }

  & summary::after {
    transform: rotate(90deg);
  }
}

summary {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--code-bg);
  border-radius: var(--radius);
  position: relative;
  color: oklch(from var(--text) calc(l * 0.75) c h);
  cursor: pointer;

  &::marker, &::before {
    content: '';
  }

  &::after {
    content: '▸';
    position: absolute;
    right: 1rem;
  }

  &:hover {
    background-color: oklch(from var(--code-bg) l c h / 0.15);
  }
}

label {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
}

input:not([type="radio"], [type="checkbox"]), select, textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

fieldset, input, select, textarea {
  border-radius: var(--radius);
}

fieldset {
  margin: 0.5rem 0;
}

input {
  &[type="checkbox"], &[type="radio"] {
    vertical-align: middle;
  }

  &[type="file"] {
    padding: 0.5rem 0;
  }

  &[type="file"], &[type="color"] {
    border: none;
  }
}

input:not([type="radio"], [type="checkbox"], [type="color"], [type="file"]), select, textarea {
  padding: 0.5rem;
  background-color: oklch(from var(--form-el-bg) l c h / 0.15);
  border: 1px solid oklch(from var(--form-el-bg) l c h / 0.25);
}

input, select, textarea, button {
  &::placeholder {
    color: oklch(from var(--text) calc(l * 0.7) c h);
  }

  &:focus-visible {
    outline: 1px solid oklch(from var(--form-el-bg) l c h / 0.95);
  }
}

select {
  appearance: base-select;
  font-size: 0.75rem;
}

::picker(select) {
  appearance: base-select;
  background-color: oklch(from var(--form-el-bg) calc(l - 0.6) c h);
  border: 1px solid oklch(from var(--form-el-bg) l c h / 0.25);
  border-radius: var(--radius);
}

button, input::file-selector-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

input::file-selector-button {
  background-color: hsl(from var(--accent) h 25% l);
}

input::file-selector-button:hover {
  background-color: hsl(from var(--accent) h 25% calc(l + 5));
}

button {
  background-color: var(--accent);

  &:hover {
    background-color: hsl(from var(--accent) h s calc(l + 5));
  }
}
